*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a,
ul,
li {
  text-decoration: none;
  font-family: inherit;
}

ul {
  list-style: none;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}
