$website-width: 95%;
$yellow-color: #ffbc00;
$main-color: #ffbc00;
$white-color: #f4f4f4;
$gray-color: #ccc;
$dark-color: #333;
$black-color: #333;
$bg-img: url("../img/showcase.jpg");
$stars-color: rgb(37, 1, 82);
$cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
